*{
    margin: 0;
    padding: 0;

}

.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 90vh 100vh 90vh 10vh;
    height: 300vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color:#fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: url('../img/imagem2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecalho{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: block;
    width: 100%;
    position: fixed;
    align-items: center;
    background-color: #16161d;    
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;

} 

.cabecalho a{
    color:#fff;
    text-decoration: none;
}


.main-content{
    grid-column: 1/4;
    grid-row: 2/3;
    width: 100vw;
}

.projetos a{
    text-decoration: none;
    color:#fff
}

.img-cards{
    width: 350px;
    height: 300px;
    background-image: url('../img/contas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.img-cards:hover{
    transition: 0.2s;
    animation: myAnim 2s ease-in-out 3s 1 alternate;
    box-shadow: #ccc;
    width: 380px;
    height: 340px;
}
@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
    flex-direction: row;
}
.card-interno{
    background-color: #16161d;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.card-interno a{
   text-decoration: none;
   color: #fff;
}

.sobre{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-row: 3/4;
    grid-column: 1/4;
    flex-direction: column;
    text-align: center;
}
.contato{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-column: 4/5;
    flex-direction: row;
    text-align: center;
}

.text-sobre{
    width: 100%;
}

.text-sobre pre{
   font-size: larger;
   font-family: 'Montserrat', sans-serif;
}

.title-sobre{
    padding: 10px 45%;
    background-color: #16161d;
    
}

.title-sobre2{
    padding: 10px 45%;
    background-color: #16161d;
    width: 100%;
}

.projetos{
    padding: 10px 45%;
    background-color: #16161d;
    width: 100%;
    margin-top: 150px;
    text-align: center;
}
.img-sobre{
    height: 250px;
    width: 250px;
}

.footer{
    background-color: #16161d;
    grid-column: 1/4;
    grid-row:5/6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
    height: 10vh;
    width: 100%;
}

.footer a{
    text-decoration: none;
    padding: 0 25px;
    color: #fff;
}

